.b {
    &Main {
        display: grid;
        height: 100%;
        width: 100%;
        grid-template: "navigation content" / 1fr 4fr;
    }
    &Navigation {
        grid-area: navigation;
        // background-color: #1a1a1e;
        border-right: 1px solid #3c3a3a;
        display: flex;
        flex-direction: column;
    }
    &Content {
        grid-area: content;
    }

    &l {
        &Logo {
            padding: 10px;
        }
        &Image {
            max-width: 150px;
        }
        &Label {}
    }

    &o {
        &List {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            padding: 16px;
            gap: 8px;
        }
        &Item {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 32px;
            
            &Description {
                font-size: .8rem;
                color: #898989;
                padding: 16px 0;
            }
        }
        &Anchor {
            display: flex;
            height: 100%;
            align-items: center;
            width: 100%;
            color: #898989;
            // background-color: #9400d3;
            border-radius: 10px;
        }
        &Name {}
        &Emoji {
            border-radius: 10px;
            padding: 5px;
        }
    }

    &t {
        &List {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            padding: 16px;
            gap: 8px;
        }
    }
}
