.c {
    &Wrapper {
        padding: 16px 48px;
    }
    &Content {
        background-color: #34303c;
        padding: 16px;
        border-radius: 20px;
    }
    &Title {
        color: #fff;
        margin: 0;
    }
    &Section {
        display: none;
        transition: 3s;
        padding: 24px 0 48px;        
    }

    // Options
    &o {
        &List {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 16px;
        }
        &Item {
            // padding: 32px 16px;
            width: 24%;
        }
        &Anchor {
            display: flex;
            align-items: center;
            background-color: #9000bf2b;
            border: 1px solid #b502ff;
            border-radius: 10px;
            padding: 8px;
            height: 100%;
            width: 100%;
        }
        &Emoji {
            padding: 10px;
            // border-radius: 10px;
            // background-color: #9400d3;
            margin-right: 8px;
            font-size: 1.5rem;
        }
        &Name {
            color: #fff;
        }
    }

    // Topics
    &p {
        &Wrapper {
            padding: 16px 48px;
            display: flex;
            justify-content: space-between;
        }
        &Aside {
            background-color: #34303c;
            padding: 16px;
            border-radius: 20px;
            width: 30%;
        }
        &List {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;    
        }
        &Item {
            width: 100%;
            height: 32px;
            &Description {
                color: #fff;
                font-size: .8rem;
            }
        }
        &Anchor {
            display: flex;
            align-items: center;
            border-radius: 10px;
            width: 100%;
            height: 100%;
            color: #fff;
        }
        &Emoji {
            padding: 5px;
            margin-right: 8px;
            border-radius: 10px;
            border: 1px solid #b502ff;
        }
        &Tutorial {
            background-color: #34303c;
            padding: 16px;
            border-radius: 20px;
            width: 68%;
        }
    }

    // Recommendation
    &r {
        &Wrapper {
            padding: 16px 48px;
        }
        &Title {
            color: #fff;
        }
        &List {
            display: flex;
        }
        &Item {
            width: 20%;
            background-color: #34303c;
            margin-right: 16px;
            border-radius: 10px;
        }
        &Anchor {
            display: flex;
            padding: 16px;
            align-items: center;
            width: 100%;
            height: 100%;
            color: #fff;
        }
        &Emoji {}
    }

    // Subject
    &s {
        &Wrapper {
            padding: 16px 48px;
        }
        &Author {
            color: #fff;
        }
        &Emoji {}
        &Content {
            color: #fff;
        }
        &Title {
            margin: 16px 0;
        }
        &Description {
            color: #fff;
            margin: 16px 0;
        }
    }
}
