.c {
    &Wrapper {
        padding: 16px 48px;
    }
    &Content {
        background-color: #594f6824;
        padding: 0 0 8px;
    }
    &Title {
        color: #fff;
        font-size: 1.3rem;
        border-left: 2px solid rgb(62, 221, 9);
        padding: 8px 16px;
        background-color: rgb(255 255 255 / 19%);
    }
    &Section {
        display: none;
        transition: 3s;
        padding: 24px 0 48px;
    }

    // Options
    &o {
        &List {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 16px;
        }
        &Item {
            width: 24%;

            &:hover {
                background-color: #5c585830;
            }
            &:nth-child(1) {
                border-bottom: 1px solid #b7eb2ddb;
            }
            &:nth-child(2) {
                border-bottom: 1px solid #2deb7cdb;
            }
            &:nth-child(3) {
                border-bottom: 1px solid #532debdb;
            }
            &:nth-child(4) {
                border-bottom: 1px solid #eb2d9fdb;
            }
        }
        &Anchor {
            display: flex;
            align-items: center;
            padding: 8px;
            height: 100%;
            width: 100%;
        }
        &Emoji {
            padding: 10px;
            margin-right: 8px;
            font-size: 1.5rem;
        }
        &Name {
            color: #fff;
        }
    }

    // Topics
    &p {
        &Wrapper {
            padding: 16px 48px;
            display: flex;
            justify-content: space-between;
        }
        &Aside {
            background-color: #594f6824;
            padding: 0 0 16px;
            width: 30%;
        }
        &List {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;    
        }
        &Item {
            width: 100%;
            height: 32px;
            padding: 0 0 0 16px;
            &Description {
                color: #fff;
                font-size: 0.9rem;
                border-left: 2px solid rgb(219, 36, 194);
                background-color: rgb(255 255 255 / 19%);
                padding: 8px 16px;
                width: 100%;
            }
        }
        &Anchor {
            display: flex;
            align-items: center;
            border-radius: 10px;
            width: 100%;
            height: 100%;
            color: #fff;
        }
        &Emoji {
            padding: 5px;
            margin-right: 8px;
            border-radius: 10px;
            border: 1px solid #704abd;
        }
        &Tutorial {
            background-color: #413e46;
            padding: 16px;
            width: 68%;
        }
    }

    // Recommendation
    &r {
        &Wrapper {
            padding: 16px 48px;
        }
        &Title {
            color: #fff;
            margin: 16px 0;
        }
        &List {
            display: flex;
        }
        &Item {
            width: 20%;
            background-color: #413e46;
            margin-right: 16px;
            border-radius: 10px;
            
            &:hover {
                background-color: #5c585830;
            }
        }
        &Anchor {
            display: flex;
            padding: 16px;
            align-items: center;
            width: 100%;
            height: 100%;
            color: #fff;
        }
        &Emoji {}
    }

    // Matter
    &m {
        &Wrapper {
            padding: 16px 48px;
        }
        &Content {
            background-color: #594f6824;
            padding: 0 0 8px;
        }
        &Title {
            color: #fff;
            font-size: 1.3rem;
            margin: 16px 0;
            border-left: 2px solid rgb(36, 219, 79);
            background-color: rgb(255 255 255 / 19%);
            padding: 8px 16px;
        }
        &List {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            column-gap: 16px;
            padding: 16px;
        }
        &Item {
            width: 100%;
            margin-bottom: 16px;
            height: 72px;
            
            &:nth-child(3n - 2) {
                background-color: rgb(212, 32, 125);
                border-bottom: 2px solid rgb(255, 0, 153);
            }
            &:nth-child(3n - 1) {
                background-color: rgb(134, 204, 54);
                border-bottom: 2px solid rgb(0, 255, 26);
            }
            &:nth-child(3n) {
                background-color: rgb(118, 39, 198);
                border-bottom: 2px solid rgb(140, 0, 255);
            }
            &:hover {
                background-color: #5c585830;
            }
        }
        &Anchor {
            display: flex;
            padding: 16px;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            color: #fff;
        }
        &Emoji {
            font-size: 2rem;
            margin: -3px 8px 0 0;
        }
    }

    // Subject
    &s {
        &Wrapper {}
        &Title {
            border-left: 2px solid rgb(219, 36, 194);
            background-color: rgb(255 255 255 / 19%);
            padding: 8px 16px;
            font-size: 1.3rem;
        }
        &Author {
            color: #fff;
            padding: 16px 8px;
        }
        &Emoji {}
        &Content {
            color: #fff;
        }
        &Description {
            color: #fff;
            margin: 16px 0;
            padding: 8px 16px;
        }
    }
}
