.q {
    &Wrapper {
        padding: 16px 48px;
    }
    &Content {
        background-color: #594f6824;
        padding: 0 0 8px;
    }
    &Form {}
    &Header {
        border-left: 2px solid rgb(219, 36, 194);
        background-color: rgb(255 255 255 / 19%);
        padding: 8px 16px;
    }
    &Title {
        color: #fff;
        font-size: 1.3rem;
    }
    &Description {
        color: #fff;
        padding: 16px 0 8px;
        font-size: 1rem;
    }
    &Alternatives {
        &Item {
            padding: 8px 16px;
            border-bottom: 1px solid rgb(255 255 255 / 19%);
            
            &:hover {
                background-color: #5c585830;
            }
            &:last-child {
                border: none;
            }
        }
        &Label {
            width: 100%;
            display: block;
            padding: 16px 0;
            color: #fff;
            cursor: pointer;
        }
    }
    &Alternatives {}
    &Send {
        background-color: unset;
        border: 0;
        padding: 8px 16px;
        color: #fff;
        cursor: pointer;
        &Emoji {
            font-size: .9rem;
        }

        &::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: rgb(217, 29, 29);
            transition: width .3s;
        }
        &:hover::after {
            width: 100%;
        }
    }

    // Initial
    &Initial {
        padding: 16px 48px;
    }
}
