.h {
    &Wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 48px;
        padding: 32px 48px;
    }
    &Breadcrumb {
        width: 80%;
        color: #fff;
    }
    &UserDropdown {
        width: 20%;
        color: #fff;
        border-radius: 20px;
        padding: 8px 16px 10px;
        background-color: #3c3a3a;
    }
    &Emoji {
        border-radius: 10px;
        width: min-content;
        margin-right: 8px;
    }
}
