@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

#root {
  height: 100%;
  width: 100vw;
}

.App {
  height: 100%;
  width: 100vw;
  background-color: #0f0f10;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: unset;
  color: unset;
}

figure {
  margin: 0;
  padding: 0;
}

.open {
  display: block !important;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}